table, th, td {
    font-size: 24px;
    border: 1px solid black;
    border-collapse: collapse;
}
form {
    display: inline-block;
}
input[type=submit] {
    font-size: 24px;
    text-decoration: underline;
    color: white;
    border: none;
    background: none;
    padding: 0;
}
body {
    color: bisque;
    background-image: url(../images/bg.jpg);
    font-family: HelveticaNeueCyr, cursive;
}
a {
    color: white;
}

a:visited {
    color: white;
}
p {
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
    font-family: HelveticaNeueCyr, cursive;
}