body {
    color: bisque;
    font-size: 68px;
    text-align: center;

    background-image: url(../images/error.jpg);
    font-family: HelveticaNeueCyr, cursive;
}
p {
    text-shadow: 4px 4px 2px darkred;
}