body {
    color: bisque;
    background-image: url(../images/bg.jpg);
    font-family: HelveticaNeueCyr, cursive;
    font-size: 32px;
}
h2 {
    font-size: 42px;
}
form {
    align-self: center;
    alignment: center;
    display: inline-block;
}
